<section class="description">
    <div class="description-content">
        <div class="description-item">
            <div class="description-image">
                <img src="{{ asset('images/quotidien.jpg') }}" alt="Au quotidien en orthophonie">
            </div>
            <div class="description-text">
                <h2>Au Quotidien</h2>
                <p>Au quotidien, l'orthophoniste travaille avec des enfants de tous âges, depuis les nourrissons
                    jusqu'aux adolescents. Sa mission est d'accompagner l'enfant dans son développement
                    linguistique et communicatif, afin qu'il puisse exprimer ses besoins, ses émotions et ses
                    pensées, et comprendre ceux des autres. C'est un travail qui nécessite une grande
                    sensibilité et une attention particulière aux besoins individuels de chaque enfant.</p>
            </div>
        </div>
        <div class="description-item">
            <div class="description-image">
                <img src="{{ asset('images/outils.jpg') }}" alt="Outils et méthodologie">
            </div>
            <div class="description-text">
                <h2>Outils & methodologie</h2>
                <p>Les orthophonistes utilisent une variété d'outils et de techniques pour aider les enfants à
                    améliorer leurs compétences linguistiques et communicatives. Ils créent des plans de
                    traitement personnalisés, basés sur une évaluation approfondie des compétences de l'enfant.
                    Ces plans peuvent inclure des exercices à faire à la maison, des jeux et des activités
                    interactives, et des stratégies pour aider l'enfant à surmonter ses difficultés.</p>
            </div>
        </div>
    </div>
</section>