<section class="statistiques">
    <div class="stats-content">
        <h2>L'Orthophonie en Chiffres</h2>
        <div class="stats-container">
            <div class="stat-item">
                <h3>80 à 90%</h3>
                <p>des enfants ayant des troubles du langage bénéficient d'améliorations significatives après un
                    suivi orthophonique adapté.</p>
            </div>
            <div class="stat-item">
                <h3>75%</h3>
                <p>des adultes ayant des troubles de la déglutition ou des troubles de la voix voient une
                    amélioration notable de leur qualité de vie.</p>
            </div>
        </div>
    </div>
</section>